<!DOCTYPE html>
<html>
<head>
    <title>Aura Davis Software Engineer {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
</head>
<body>

    <!-- Navbar -->
    <div class="navbar">
        <a href="../" class="navbar2"><b>Aura Davis Software Engineer</b></a>
        <div class="navbar1">
            {% block navbar %}
            {% endblock %}
        </div>
    </div>

    <!-- Page content -->
    <div class="page_content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <div class="footer">
    </div>

</body>
</html>