{% extends 'base.html' %}

{% block title %}Password Manager{% endblock %}

<!-- Navbar -->
{% block navbar %}
<a class="navbar2" href="../">Home</a>
{% endblock %}

<!-- Page content -->
{% block content %}
<h1 style="text-align:center">Password Manager</h1>
<div class="project1">
    <a class="link-button" href="https://github.com/Aura-Davis/Password-Manager">Github Link</a>
    <div style="font-weight: bold">Description</div>

    <p>
        A Python security project that lets you add and view passwords, and are locked using a main password. Saved passwords are encrypted using Cryptography, and are decrypted upon request to be viewed by the user.
    </p>
</div>
{% endblock %}